<br>
<br>
<br>
<br>

<h1>My Recipes</h1>


<div class="row">
    <% data.recipes.forEach(function(recipe) { %>
    <div class="col-6">
            <div class="recipe">

                <h3 class="underline"><%= recipe.name %></h3>
                <a href="<%= recipe.link %>">recipe >></a>
                <p>Ingredients: <%= recipe.ingredients %></p>
                
                <form action="/recipe/remove" method="POST">
                    <input hidden type="text" name="name" value="<%= recipe.name %>">
                    <button class="btn btn-outline-dark" type="submit">Delete</button>
                </form>
                <br>
            </div>
            <hr class="featurette-divider">
            
        </div>
        <div class="col-3">
            <img class="img-thumbnail" src="<%= recipe.pic %>" alt="">
        </div>
        
        <% }); %>




    <div class="col floater mr-auto dropdown-toggle" data-toggle="">
         <h3>My pantry has:</h3>
        <div class="" id="">
            <% data.items.forEach(function(fridge) { %>
                <div class="bop">
                    <form class="form-inline" action="/recipe/del" method="POST">
                        <input hidden type="text" name="name" id="<%= fridge.id %>" value="<%= fridge.id %>">
                        <button class="fridge-button delPantry btn-outline-dark" type="submit">✖️</button>
                    </form>
                    <ul>
                        <li></li>
                    </ul>
                <p class="dropdown-item"><%= fridge.ingredients %></p>
                </div>
                <br />
            <% }) %>
        </div>
    </div>
</div>