<br>
<br>
<br>




<div class="row container">
    <% bubble.forEach(function(recipe) { %>
    <div class="col-6">
        <div class="recipe">

        </div>
            <div class="Results">
                <h2 class="underline"><%= recipe.title.toUpperCase() %></h2>
                <a href="<%= recipe.href %>">recipe</a>
                <p><%= recipe.ingredients %></p>
                
                <form action="/recipe" method="post">
                    <input type="hidden" name="name" value="<%= recipe.title %>">
                    <input type="hidden" name="pic" value="<%= recipe.thumbnail %>">
                    <input type="hidden" name="link" value="<%= recipe.href %>">
                    <input type="hidden" name="ingredients" value="<%= recipe.ingredients %>">
                    <button type="submit">add to MyRecipes</button>
                </form>
                <hr>
            </div>

    </div>
    <div class="col-3">
        <img class="img-thumbnail" src=<%= recipe.thumbnail %> alt="">
    </div>
        <% }); %>
</div>



